body {
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab {
  position: relative;
  background: rgb(223, 222, 222);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 50px;
  font-weight: 700;
}

.strategyDate {
  width: 50%;
  margin-bottom: 50px;
}

#dynamicDropdown {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.strategies {
  background-color: white;
  color: black;
  width: 45%;
}

.Bullish,
.Bearish,
.RangeBound,
.Volatile {
  color: grey;
  padding: 10px 0px;
  width: calc(100%/4);
  text-align: center;
}

.tabHighlight {
  background: blue;
  border-radius: 15px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;

}

.strategiesName {
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(178, 177, 186);
  background: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 25px;
  color: rgb(178, 177, 186);
}

.strategiesName span {
  color: black;
  margin-top: 3px;
}

.noStrategies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noStrategiesDate {
  font-weight: bold;
}


.strategyDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(178, 177, 186);
  display: inline-block;
  margin-right: 5px;
}

.strategyDates {
  width: 45%;
  font-family: Arial, sans-serif;
  margin-bottom: 35px;
  font-weight: 700;
}

.strategyDates_SelectedContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.strategyDates_SelectedContainer:hover {
  background-color: #e9e9e9;
}

.strategyDates_AllDatesContainer {
  /* position: absolute; */
  top: 100%;
  left: 0;
  width: 100%;
  /* max-height: 200px; */
  /* overflow-y: auto; */
  /* border: 1px solid #ccc; */
  background-color: white;
  display: none;
  /* Initially hidden */
  z-index: 10;
}

.strategyDates_Date {
  width: 90%;
  padding: 10px;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px auto;
}

.strategyDates_Date:hover {
  background-color: #e0e0e0;
}

.dropdownArrow {
  font-size: 12px;
  margin-left: 5px;
}

#strategyDates_SelectedDate {
  color: black;
}

.dropdownArrow img {
  transition: transform 0.3s ease;
  /* Smooth rotation */
}

.dropdownArrow.open img {
  transform: rotate(180deg);
  /* Rotate the arrow upwards */
}



@media screen and (max-width: 731px) {
  .tab {
    width: 95%;
  }

  .strategyDate {
    width: 95%;
  }

  .strategies {
    width: 95%;
  }

  .strategyDates {
    width: 95%;
  }
}

@media screen and (max-width: 490px) {
  .tabHighlight {
    font-size: small;
    font-weight: 600;
    margin-left: 20px;
  }


  @media screen and (max-width: 400px) {
    .tabHighlight {
      font-size: small;
      margin-left: 10px;
    }

    .tab {
      font-weight: 600;
      font-size: small;
    }
  }

  @media screen and (max-width: 392px) {
    .tabHighlight {
      font-size: small;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media screen and (max-width: 330px) {
    .tabHighlight {
      font-size: small;
      padding-right: 10px;
      margin-left: 10px;
    }

    .Bullish,
    .Bearish,
    .RangeBound,
    .Volatile {
      width: calc(100%/4);
      text-align: center;
      justify-content: space-between;
    }
  }
}